* {
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  background: #fff;
}

body {
  font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}

a {
  text-decoration: none
}

.c9b {
  color: #9b9b9b;
}

.el-menu--popup {
  min-width: 140px !important;
}

.lesson-cardS .box-card>div {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  z-index: 12;
  box-sizing: border-box;
}

.lesson-cardT .box-card>div {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  z-index: 12;
  box-sizing: border-box;
}

.index .el-tabs .el-tabs__header {
  margin: 0;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 1000;
}

.index .el-tabs .el-tabs__content {
  padding: 40px 40px 0px 40px;
}

.el-dropdown__popper {
  --el-dropdown-menu-box-shadow: var(--el-box-shadow-light);
  --el-dropdown-menuItem-hover-fill: var(--el-color-primary-light-9);
  --el-dropdown-menuItem-hover-color: var(--el-color-primary-light-2);
  --el-dropdown-menu-index: 10;
}


.specialDialog .el-dialog__header>button {
  display: none;
}

.specialDialog.joinClassDialog .el-dialog__header span {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 18px;
  font-weight: bold;
  color: #333333;
}

.specialDialog .el-dialog__header {
  padding: 20px;
  line-height: 1;
  border-bottom: 2px solid #eee;
}


.specialDialog.joinClassDialog .el-dialog__header {
  display: block;
  border-bottom: none;
  padding-bottom: 0;
  padding-top: 30px;
}

.specialDialog.joinClassDialog .dialog-body .joinClassForm .el-form-item .el-input__inner {
  border: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  border-bottom: 1px solid #5096f5;
}

.specialDialog.joinClassDialog .dialog-body .joinClassForm .el-form-item .el-input input {
  height: 32px;
  line-height: 32px;
  font-size: 22px;
  text-align: center;
  color: #333;
  font-weight: 600;
}

.specialDialog .dialog-body .commonForm .el-form-item .el-form-item__content .el-input input {
  background-color: #fff;
}

.specialDialog.joinClassDialog .dialog-body .joinClassForm .el-form-item__content {
  height: 32px;
  width: 100%;
  text-align: left;
  font-size: 14px;
}

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.specialDialog.joinClassDialog .el-dialog__body {
  padding: 18px 30px 30px !important;
}

.specialDialog .dialog-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.specialDialog .el-dialog__body {
  padding: 40px;
}

.specialDialog .dialog-body .commonForm .el-form-item .el-form-item__label {
  line-height: 1;
}

.specialDialog .dialog-body .commonForm .el-form-item .el-form-item__label>div {
  margin-bottom: 10px;
}

.specialDialog .dialog-body .commonForm .el-form-item .el-form-item__label>div .name {
  font-size: 16px;
  color: #333;
  font-weight: 600;
  margin-right: 5px;
}

.specialDialog .dialog-body .commonForm .el-form-item .el-form-item__label>div .fill {
  font-size: 14px;
  color: #FFA134;
}

.specialDialog .dialog-body .commonForm .el-form-item.is-error .el-form-item__label>div span:not(.name) {
  color: #f84f41;
}

.specialDialog .dialog-body .commonForm .el-form-item .el-form-item__content {
  width: 100%;
  text-align: left;
  font-size: 14px;
}

.specialDialog .dialog-body .commonForm .el-form-item .el-form-item__label>div .NoFill {
  font-size: 14px;
  color: #9b9b9b;
}

.blank-card .box-card .el-card__body {
  padding: 0;
  height: 100%;
}

.blank-card .box-card .el-card__body .container {
  width: 100%;
  padding: 43px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  box-sizing: border-box;
}

.blank-card .box-card .el-card__body .container:hover {
  color: #5096F5;
}

.blank-card .box-card .el-card__body .container:hover>i {
  color: #5096F5;
}

.warningDialog .el-dialog__header {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  padding: 30px 0 10px;
}

.warningDialog .el-dialog__header>button {
  display: none;
}

.warningDialog .el-dialog__body,
.warningDialog .el-dialog__footer {
  padding: 0;
  text-align: center;
}

.warningDialog .word-container {
  margin: 0 30px 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #eee;
}

.warningDialog .word-container span {
  text-align: center;
  display: inline-block;
  max-width: 280px;
  font-size: 16px;
  color: #666;
  word-break: break-word;
}

.warningDialog .dialog-footer {
  padding-bottom: 40px;
  display: inline-block;
}

.warningDialog .dialog-footer button {
  width: 100px;
  height: 34px;
  border: none;
  border-radius: 17px;
  font-size: 14px;
  color: #fff;
  outline: none;
  cursor: pointer;
}

.warningDialog .dialog-footer button.confirm {
  margin-right: 15px;
}

.warningDialog .dialog-footer button.cancel {
  margin-left: 15px;
  border: 1px solid #5096F5;
  color: #5096F5;
}

.index .nowrap {
  white-space: nowrap;
}

.personal,
.personal .el-container,
.personal .el-main>.el-tabs,
.personal .el-main>.el-tabs>.el-tabs__content>div {
  height: 100%;
}

.personal .personal_main {
  height: calc(100% - 50px);
  overflow-y: hidden;
}

.personal .el-main>.el-tabs>.el-tabs__content {
  height: calc(100% - 30px);
}

.personal .el-main>.el-tabs>.is-left {
  margin-right: 0;
  width: 150px;
  background-color: #fff;
  padding: 10px;
}

.personal .el-main>.el-tabs>.is-left>.el-tabs__nav-wrap {
  margin: 0;
}

.personal .el-main>.el-tabs .is-left .el-tabs__item {
  text-align: center;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #9b9b9b;
  font-size: 16px;
  margin-bottom: 10px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  cursor: pointer;
  border: 0;
}

.personal .el-main>.el-tabs .is-left .el-tabs__item:hover {
  background-color: #edf4fe;
  color: #5096f5;
}

.personal .el-main>.el-tabs .is-left .el-tabs__item.is-active {
  color: #5096f5;
  border-radius: 4px;
  background-color: #edf4fe;
}

.personal .el-main>.el-tabs>.el-tabs__content {
  background-color: var(--el-background-color-base);
}

.personal .el-main>.el-tabs>.el-tabs__content>div {
  background-color: #fff;
  border-radius: 5px;
}

.panle.person-info .el-form>.el-form-item>label {
  color: #333333;
  width: 90px;
  padding: 0;
}

.panle.person-info .el-form>.el-form-item .el-input {
  height: 40px;
  width: 380px;
}

.panle.person-info .el-form>.el-form-item:not(:last-child)>div {
  text-align: left;
  margin-left: 20px;
}