* {
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  background: #fff;
}

body {
  font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}

a {
  text-decoration: none
}

.el-menu--popup {
  min-width: 140px !important;
}

.student-lesson-card .box-card>div {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  z-index: 12;
}

.index .el-tabs .el-tabs__header {
  margin: 0;
}

.index .el-tabs .el-tabs__content {
  padding: 40px 40px 0px 40px;
}